@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
@import "react-perfect-scrollbar/dist/css/styles.css";

@font-face {
    font-family: "Pocket Monk";
    src: url("../fonts/PocketMonk.ttf");
}

@font-face {
    font-family: "One Piece";
    font-weight: 400;
    src: url("../fonts/OnePiece.woff2") format("woff2");
}

html:focus-within,
body {
    scroll-behavior: smooth;
}

.platicon {
    width: 16px;
    height: 16px;
    margin: -1px 2px -1px 0;
    border: 0;
    padding: 0;
    object-fit: contain;
}

.icons {
    background: url(../images/flag-icons.png) no-repeat;
    width: 16px;
    height: 14px;
    margin: 0 2px 0 0;
    margin-top: 0px !important;
    overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0;
    border: 0;
    text-decoration: none;
}
.icons.lang {
    width: 13px;
    height: 11px;
    opacity: 0.5;
}

.icons.iu {
    background-position: 0px -14px;
}
.icons.ar {
    background-position: -13px -14px;
}
.icons.bg {
    background-position: -26px -14px;
}
.icons.ca {
    background-position: -39px -14px;
}
.icons.cs {
    background-position: -52px -14px;
}
.icons.da {
    background-position: -65px -14px;
}
.icons.de {
    background-position: 0px -25px;
}
.icons.el {
    background-position: -13px -25px;
}
.icons.en {
    background-position: -26px -25px;
}
.icons.eo {
    background-position: -39px -25px;
}
.icons.es {
    background-position: -52px -25px;
}
.icons.fa {
    background-position: -65px -25px;
}
.icons.fi {
    background-position: 0px -36px;
}
.icons.fr {
    background-position: -13px -36px;
}
.icons.ga {
    background-position: -26px -36px;
}
.icons.gd {
    background-position: -39px -36px;
}
.icons.he {
    background-position: -52px -36px;
}
.icons.hi {
    background-position: -65px -36px;
}
.icons.hr {
    background-position: 0px -47px;
}
.icons.hu {
    background-position: -13px -47px;
}
.icons.id {
    background-position: -26px -47px;
}
.icons.it {
    background-position: -39px -47px;
}
.icons.ja {
    background-position: -52px -47px;
}
.icons.ko {
    background-position: -65px -47px;
}
.icons.la {
    background-position: 0px -58px;
}
.icons.lt {
    background-position: -13px -58px;
}
.icons.lv {
    background-position: -26px -58px;
}
.icons.mk {
    background-position: -39px -58px;
}
.icons.ms {
    background-position: -52px -58px;
}
.icons.nl {
    background-position: -65px -58px;
}
.icons.no {
    background-position: 0px -69px;
}
.icons.pl {
    background-position: -13px -69px;
}
.icons.pt-br {
    background-position: -26px -69px;
}
.icons.pt-pt {
    background-position: -39px -69px;
}
.icons.ro {
    background-position: -52px -69px;
}
.icons.ru {
    background-position: -65px -69px;
}
.icons.sk {
    background-position: 0px -80px;
}
.icons.sl {
    background-position: -13px -80px;
}
.icons.sv {
    background-position: -26px -80px;
}
.icons.ta {
    background-position: -39px -80px;
}
.icons.th {
    background-position: -52px -80px;
}
.icons.tr {
    background-position: -65px -80px;
}
.icons.uk {
    background-position: 0px -91px;
}
.icons.ur {
    background-position: -13px -91px;
}
.icons.vi {
    background-position: -26px -91px;
}
.icons.zh-Hans {
    background-position: -39px -91px;
}
.icons.zh-Hant {
    background-position: -52px -91px;
}
.icons.zh {
    background-position: -65px -91px;
}
